*{
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0;
}


.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.columns {
    flex-direction: column;
}