body {
	background-color: #65ae84;
	height: 100%;
	font-family: Titillium Web;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

div.caixamaterna {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

div.caixamaterna div.estagiario {
	flex-grow: 1;
}

div.caixamaterna div.estagiario:hover {
	color: black;
	transition: ease 1s;
}

div.caixamaterna div.ademir {
	flex-grow: 1;
}

div.caixamaterna div.ademir:hover {
	color: black;
	transition: ease 1s;
}

img.logolab {
	position: absolute;
/*	left: calc(100vw/2*.725);
	left: calc(100vw/4*1.7);
	top: calc(100vh/2*.2);
	top: calc(100vh/2*.5);*/
	width: calc(100vw /4);
	transition: ease 1s;
}

div.ademir,
div.estagiario {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

form {
	display: none;
	flex-direction: column;
	transition: ease 1s;
}

input.form-control {
	width: 20vw;
	margin-top: 2vh;
/*	border: 4px solid #4f966d;*/
}

input.sub {
	margin-top: 4vh;
	border: 4px solid #3d7c58;
	background-color: #4f966d;
	font-size: 1.2em;
	flex-grow: 1;
	margin-right: 4vw;
	margin-left: 4vw;
	width: 12
}

div.logodiv {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

div.butall {
	width: 20vw;
	display: flex;
	flex-direction: row;
}
